
* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-image: linear-gradient(80deg, rgb(230, 156, 168), rgb(240, 219, 235));
}

header {
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column; /* define a direção dos itens */
    align-items: center; /* alinha os itens horizontalmente */
    justify-content: center; /* alinha os itens verticalmente */
   
}

header img{
    width: 170px;
    height: 210px;
    border: 5px solid rgb(235, 172, 224);
    border-radius: 200px;
}
header img:hover{  /* o hover serve para alterar o estilo quando o mouse estiver em cima do elemento  */
    width: 180px;
    height: 220px;
    transition: 1s;
}

header nav ul li {
    color:rgb(255, 255, 255);
    text-transform: uppercase;
    display: inline;
    padding: 80px ;
}

header nav {
    padding: 40px;
}

header nav ul a {
    text-decoration: none;
    
}

header nav a li:hover{
    background-color: rgb(218, 167, 191);
    color: rgb(0, 0, 0);
    transition: 2s;
}

.maindiv1 {
display: flex;

}
.maindiv1 img{
    margin: 20px;
    width: 600px;
    height: 580px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 70px;
    box-shadow: 0px  10px 50px black;
}

main h1{
    text-align: center;
    padding: 40px 0px;
    text-transform: uppercase;
    font-size: 40px;
}

.texto-descrição h3 {
    text-align: justify; 
    padding: 0px 70px 15px 25px;
    font-size: 17px;
}

.accordion {
    color: rgb(0, 0, 0);
    border: 2px solid rgb(0, 0, 0);
    box-shadow: 0px  10px 50px black;
}

.card-header {
    background-color: rgb(218, 167, 191);
}

.card-body {
    background-color: rgb(255, 237, 255);
}